# # Ignore logs and temp directories
# logs/
# tmp/

# # Ignore specific files
# secret_config.txt

# # Ignore all .log files
# *.log

screenshots/
plotfit/
Excel_Files/
Output/
Output.zip
plotfit_v1.py
.DS_Store